In [173]:
import pandas as pd
import numpy as np

# Read test_data

In [174]:
test_data = pd.read_csv('test.csv')

In [175]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Read train_data

In [176]:
train_data = pd.read_csv('train.csv')

In [177]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Change (male, female) onto (1, 0)

In [178]:
test_data["Sex"] = [1 if s == "male" else 0 for s in test_data["Sex"]]
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S

In [179]:
train_data["Sex"] = [1 if s == "male" else 0 for s in train_data["Sex"]]
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

# Split test_data into X and y

In [255]:
train_data_without_ans = train_data.copy()
del(train_data_without_ans['Survived'])
del(train_data_without_ans['Name'])
del(train_data_without_ans['Ticket'])
del(train_data_without_ans['Cabin'])
#del(train_data_without_ans['Embarked'])
del(train_data_without_ans['Fare'])
del(train_data_without_ans['SibSp'])
del(train_data_without_ans['Parch'])
del(train_data_without_ans['PassengerId'])

#train_data_without_ans["Age"] = train_data_without_ans["Age"].fillna(20)
train_data_without_ans["Embarked"] = train_data_without_ans["Embarked"].fillna('S')

train_data_without_ans.head()
#train_data_without_ans["Embarked"].values

   Pclass  Sex   Age Embarked
0       3    1  22.0        S
1       1    0  38.0        C
2       3    0  26.0        S
3       1    0  35.0        S
4       3    1  35.0        S

In [256]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

le.fit(train_data_without_ans["Embarked"].values)

train_data_without_ans["Embarked"] = le.transform(train_data_without_ans["Embarked"].values)

train_data_without_ans.head()

   Pclass  Sex   Age  Embarked
0       3    1  22.0         2
1       1    0  38.0         0
2       3    0  26.0         2
3       1    0  35.0         2
4       3    1  35.0         2

In [257]:
import math

par_in_train = []
par_in_train_surv = []

for i in range(len(train_data_without_ans)):
        
    if math.isnan(train_data_without_ans.at[i, "Age"]):
        if any(x in train_data.at[i, "Name"] for x in ["Mr", "Mrs"]):
            train_data_without_ans.at[i, "Age"] = 30
        else:
            train_data_without_ans.at[i, "Age"] = 12
            
    pit = 0
    pits = 0
    if train_data.at[i, "Age"] <= 18:
        surname = train_data.at[i, "Name"].split(',')[0]
        for j in range(len(train_data)):
            if i == j:
                continue
            if surname in train_data.at[j, "Name"] and train_data.at[j, "Age"] > 18:
                pit += 1
                if train_data.at[j, "Survived"] == 1:
                    pits += 1
                
    par_in_train.append(pit)
    par_in_train_surv.append(pits)
        
#prepared_train_data["Par_in_train"] = par_in_train
train_data_without_ans["Par_in_train_surv"] = par_in_train_surv
train_data_without_ans.head()

   Pclass  Sex   Age  Embarked  Par_in_train_surv
0       3    1  22.0         2                  0
1       1    0  38.0         0                  0
2       3    0  26.0         2                  0
3       1    0  35.0         2                  0
4       3    1  35.0         2                  0

In [258]:
sum(train_data_without_ans["Par_in_train_surv"])

56

In [259]:
train_data_without_ans.head()

   Pclass  Sex   Age  Embarked  Par_in_train_surv
0       3    1  22.0         2                  0
1       1    0  38.0         0                  0
2       3    0  26.0         2                  0
3       1    0  35.0         2                  0
4       3    1  35.0         2                  0

In [260]:
ans = train_data["Survived"]

In [261]:
ans.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [262]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
train_data_without_ans, ans, random_state=0)

In [263]:
len(X_train), len(y_train)

(668, 668)

In [264]:
y_test

495    0
648    0
278    0
31     1
255    1
      ..
167    0
306    1
379    0
742    1
10     1
Name: Survived, Length: 223, dtype: int64

In [265]:
len(X_test), len(y_test)

(223, 223)

# Try SVM models

In [266]:
from sklearn.svm import SVC

#model = DecisionTreeClassifier(random_state = 1)

for C_val in [0.1, 1, 10, 100]:
    for gamma_val in [0.001, 0.01, 0.1, 1, 10]:
        svc = SVC(kernel='rbf', C = C_val, gamma = gamma_val)
        #svc = SVC()

        svc.fit(X_train, y_train)

        predicted = svc.predict(X_test)

        #print("Accuracy on training set: {:.2f}".format(svc.score(X_train, y_train)))
        print("Accuracy on test set: {:.2f}".format(svc.score(X_test, y_test)))

Accuracy on test set: 0.62
Accuracy on test set: 0.65
Accuracy on test set: 0.63
Accuracy on test set: 0.63
Accuracy on test set: 0.63
Accuracy on test set: 0.65
Accuracy on test set: 0.77
Accuracy on test set: 0.79
Accuracy on test set: 0.79
Accuracy on test set: 0.71
Accuracy on test set: 0.78
Accuracy on test set: 0.78
Accuracy on test set: 0.79
Accuracy on test set: 0.77
Accuracy on test set: 0.71
Accuracy on test set: 0.78
Accuracy on test set: 0.81
Accuracy on test set: 0.81
Accuracy on test set: 0.77
Accuracy on test set: 0.71

In [267]:
from sklearn.ensemble import GradientBoostingClassifier

#model = DecisionTreeClassifier(random_state = 1)

for lr in np.arange(0.1, 1.5, 0.1):
    gbrt = GradientBoostingClassifier(random_state=1, 
                                      learning_rate = lr,
                                      max_depth = 1)
    #svc = SVC()

    gbrt.fit(X_train, y_train)

    predicted = gbrt.predict(X_test)

    print("Accuracy on training set: {:.2f}".format(svc.score(X_train, y_train)))
    print("Accuracy on test set: {:.2f}".format(gbrt.score(X_test, y_test)))

Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.79
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.79
Accuracy on training set: 0.91
Accuracy on test set: 0.79
Accuracy on training set: 0.91
Accuracy on test set: 0.79
Accuracy on training set: 0.91
Accuracy on test set: 0.78
Accuracy on training set: 0.91
Accuracy on test set: 0.79
Accuracy on training set: 0.91
Accuracy on test set: 0.78

In [268]:
from sklearn.svm import SVC

#model = DecisionTreeClassifier(random_state = 1)

svc = SVC(kernel='rbf', C = 1, gamma = 0.1)
#svc = SVC()

svc.fit(X_train, y_train)

predicted = svc.predict(X_test)

#print("Accuracy on training set: {:.2f}".format(svc.score(X_train, y_train)))
print("Accuracy on test set: {:.2f}".format(svc.score(X_test, y_test)))

Accuracy on test set: 0.79

# Prepate test data

In [269]:
test_data_without_ans = test_data.copy()
#del(test_data_without_ans['Survived'])
del(test_data_without_ans['Name'])
del(test_data_without_ans['Ticket'])
del(test_data_without_ans['Cabin'])
#del(test_data_without_ans['Embarked'])
del(test_data_without_ans['SibSp'])
del(test_data_without_ans['Parch'])
del(test_data_without_ans['Fare'])
del(test_data_without_ans['PassengerId'])

#test_data_without_ans["Age"] = test_data_without_ans["Age"].fillna(20)
#test_data_without_ans["Fare"] = test_data_without_ans["Fare"].fillna(10)
test_data_without_ans["Embarked"] = test_data_without_ans["Embarked"].fillna('S')

In [270]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

le.fit(test_data_without_ans["Embarked"].values)

test_data_without_ans["Embarked"] = le.transform(test_data_without_ans["Embarked"].values)

test_data_without_ans.head()

   Pclass  Sex   Age  Embarked
0       3    1  34.5         1
1       3    0  47.0         2
2       2    1  62.0         1
3       3    1  27.0         2
4       3    0  22.0         2

In [271]:
import math

par_in_train = []
par_in_train_surv = []

for i in range(len(test_data_without_ans)):
  
    if math.isnan(test_data_without_ans.at[i, "Age"]):
        if any(x in test_data.at[i, "Name"] for x in ["Mr", "Mrs"]):
            test_data_without_ans.at[i, "Age"] = 30
        else:
            test_data_without_ans.at[i, "Age"] = 12
            
    pit = 0
    pits = 0
    if test_data.at[i, "Age"] <= 18:
        surname = test_data.at[i, "Name"].split(',')[0]
        for j in range(len(train_data)):
            if i == j:
                continue
            if surname in train_data.at[j, "Name"] and train_data.at[j, "Age"] > 18:
                pit += 1
                if train_data.at[j, "Survived"] == 1:
                    pits += 1
                
    par_in_train.append(pit)
    par_in_train_surv.append(pits)
        
#prepared_train_data["Par_in_train"] = par_in_train
test_data_without_ans["Par_in_train_surv"] = par_in_train_surv
test_data_without_ans.head()

   Pclass  Sex   Age  Embarked  Par_in_train_surv
0       3    1  34.5         1                  0
1       3    0  47.0         2                  0
2       2    1  62.0         1                  0
3       3    1  27.0         2                  0
4       3    0  22.0         2                  0

In [272]:
test_data_without_ans.isnull().values.any()

False

In [273]:
test_data_without_ans.head()

   Pclass  Sex   Age  Embarked  Par_in_train_surv
0       3    1  34.5         1                  0
1       3    0  47.0         2                  0
2       2    1  62.0         1                  0
3       3    1  27.0         2                  0
4       3    0  22.0         2                  0

# Train on test_data

In [274]:
from sklearn.svm import SVC

#model = DecisionTreeClassifier(random_state = 1)

svc = SVC(kernel='rbf', C = 1, gamma = 0.001)
#svc = SVC()

svc.fit(train_data_without_ans, ans)

predicted = svc.predict(test_data_without_ans)

#print("Accuracy on training set: {:.2f}".format(svc.score(X_train, y_train)))
print("Accuracy on test set: {:.2f}".format(svc.score(train_data_without_ans, ans)))

Accuracy on test set: 0.63

In [275]:
from sklearn.ensemble import GradientBoostingClassifier

#model = DecisionTreeClassifier(random_state = 1)

gbrt = GradientBoostingClassifier(random_state=0, learning_rate=1)
#svc = SVC()

gbrt.fit(train_data_without_ans, ans)

predicted = gbrt.predict(test_data_without_ans)

#print("Accuracy on training set: {:.2f}".format(svc.score(X_train, y_train)))
print("Accuracy on test set: {:.2f}".format(gbrt.score(train_data_without_ans, ans)))

Accuracy on test set: 0.90

In [276]:
output = pd.DataFrame(list(zip(range(892, 892+len(predicted)), 
                               predicted)), 
                      columns = ['PassengerId', 'Survived'])
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         1

In [277]:
output.to_csv("outputGradBoosting.csv", index =False)

# Use a lot of models

In [278]:
predicted_together = [0 for i in range(len(predicted))]
cnt_predictions = 0

In [279]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

for dep in range(1, 5):
    model = RandomForestClassifier(max_depth = dep, random_state = 1)

    model.fit(train_data_without_ans, ans)

    predict_test = model.predict(test_data_without_ans)
    
    predicted_together += predict_test
    cnt_predictions += 1

In [280]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

for dep in range(1, 5):
    model = DecisionTreeClassifier(max_depth = dep, random_state = 1)

    model.fit(train_data_without_ans, ans)

    predict_test = model.predict(test_data_without_ans)
    
    predicted_together += predict_test
    cnt_predictions += 1

In [281]:
predicted_together[:5]

array([0, 1, 0, 0, 1], dtype=int64)

In [282]:
predicted_together = predicted_together >= cnt_predictions / 2
print(predicted_together[:5])
predicted_together = [int(i) for i in predicted_together]

[False False False False False]

In [283]:
predicted_together[:5]

[0, 0, 0, 0, 0]

# Create output

In [284]:
output = pd.DataFrame(list(zip(range(892, 892+len(predicted_together)), 
                               predicted_together)), 
                      columns = ['PassengerId', 'Survived'])
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [285]:
sum(output["Survived"]), len(output["Survived"])

(115, 418)

In [286]:
output.to_csv("newoutput.csv", index =False)